@use "../../../node_modules/react-big-calendar/lib/sass/styles";
@use "sass:color";
@use "../../assets/styles/variables.scss";

body {
  font-family: variables.$main-font;
  font-size: variables.$base-font-size;
  font-weight: variables.$base-font-weight;
  color: variables.$base-color;
}

.rbc-calendar {
  width: 798px;
  min-height: 548px;
  height: auto !important;
  border: 1px solid rgba(38, 38, 38, 0.8);
  border-radius: 8px;
  background-color: #ffff;
  margin: 20px 60px;

  > .rbc-month-view {
    height: auto;
    width: 100%;
    border-radius: 8px;
  }
}

.rbc-toolbar {
  height: 50px;
  padding-bottom: 10px;
  background-color: #fff;

  > .rbc-toolbar-label {
    font-size: 26px;
    padding-top: 6px;
    font-weight: 550;
  }

  > .rbc-btn-group {
    button {
      background-color: #fff;
      color: #262626;
      border: 1px solid #262626;
      border-top: 0;
      cursor: pointer;
      font-weight: 600;
      margin-bottom: 27px;

      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
      border-bottom-right-radius: 8px;
      border-bottom-left-radius: 8px;

      &:hover {
        background-color: #fff;
        color: variables.$ambidex-green;
      }
    }
  }
}

.rbc-row-bg {
  right: 0;
  height: auto;
}

.rbc-row{
  height: 100%;
  max-height: 40px;
  > .rbc-row-segment{
    max-height: 25px;
    >.rbc-event{
      height: 100%;

    }
  }
}

.rbc-row-content {
  height: 100%;
}

.rbc-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  border: 1px solid rgba(38, 38, 38, 0.5);
  

  > span {
    font-weight: 700;
  }
}

.rbc-month-row {
  display: flex;
  min-height: 88px;
  max-height: 89px;
  justify-content: center;
}

.rbc-day-bg,
.rbc-off-range-bg {
  width: 100%;
  border: 1px solid rgba(38, 38, 38, 0.3);
}

.rbc-off-range-bg {
  background-color: rgb(170, 170, 170, 0.25);
}

.rbc-time-content{
  max-height: 550px;
}

.rbc-today {
  background-color: rgb(133, 193, 179, 0.25);
}

.rbc-date-cell {
  display: flex;
  justify-content: center;
}

.rbc-event, .rbc-selected {
  background-color: variables.$ambidex-green;
}

.rbc-event.rbc-selected{
  background-color: variables.$ambidex-green;
}


.rbc-allday-cell {
  height: 24px !important;
}

//Big desktop
@media screen and (min-width: 80rem) and (max-width: 90rem) {
  .rbc-calendar {
    margin: 0;
  }
  .rbc-calendar {
    max-height: 34rem;
    height: auto !important;
    max-width: 45rem;
    border-radius: 8px;
    margin: 0.5rem 1rem;
  }
  .rbc-month-row {
    min-height: 2rem;
  }

  .rbc-row-bg {
    min-height: 1.6rem;
    height: auto;
  }

  .rbc-row-content {
    height: auto;
    overflow: hidden;

    > .rbc-row {
      > .rbc-row-segment {
        font-size: 0.8rem;

        > .rbc-event {
          height: 1.5rem;
          display: flex;
          align-items: center;
        }
      }
    }
  }
}

//Small desktop
@media screen and (min-width: 64rem) and (max-width: 80rem) {
  .hero__section {
    height: auto;
  }

  .rbc-calendar {
    min-height: 27rem;
    height: auto !important;
    max-width: 40rem;
    border-radius: 8px;
    margin: 0.5rem 1rem;
  }

  .rbc-toolbar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: space-between;
    > .rbc-toolbar-label {
      padding-top: 1.5rem;
      font-size: 1rem;
    }

    > .rbc-btn-group {
      max-height: 1.75rem;
      max-width: 14rem;
      > button {
        font-size: 0.75rem;
      }
    }
  }

  .rbc-month-row {
    min-height: 2rem;
  }

  .rbc-row-bg {
    min-height: 1.6rem;
    height: auto;
  }

  .rbc-row-content {
    height: auto;
    overflow: hidden;

    > .rbc-row {
      > .rbc-row-segment {
        font-size: 0.8rem;

        > .rbc-event {
          height: 1.5rem;
          display: flex;
          align-items: center;
        }
      }
    }
  }

  .rbc-day-bg {
    font-size: 0.6rem;
    height: auto;
  }

  .rbc-month-header,
  .rbc-header {
    height: 2rem;
    font-size: 0.85rem;
  }

  .rbc-time-header.rbc-overflowing {
    max-height: 4rem;
  }

  .rbc-time-header-content {
    max-height: 4rem;

    > .rbc-allday-cell {
      max-height: 1.5rem;

      > .rbc-row-bg {
        max-height: 0.5rem;
        height: 0.5rem;
        > .rbc-day-bg {
          max-height: 3rem;
        }
      }
    }
  }

  .side__info {
    display: flexbox;
  }
}

//Large tablet
@media screen and (min-width: 48rem) and (max-width: 64rem) {
  .rbc-calendar {
    margin: 0;
    width: 100%;
    min-height: 25rem;
    height: auto;

    > .rbc-month-view {
      max-height: 390px;
      
    }
  }

  .rbc-toolbar {
    display: flex;
    align-items: flex-start;
    width: 100%;
    height: 1.75rem;
    margin-bottom: 0.625rem;
    padding-bottom: 0;

    > .rbc-btn-group {
      max-width: 12.5rem;
      width: auto;
      height: auto;

      > button {
        font-size: 0.56rem;
        font-weight: 550;
        text-align: center;
        height: 1.75rem;
        min-width: 3rem;
        padding: 0 0.25rem;
        border: 1px solid #262626;
        margin-bottom: 0;
        border-radius: 0.5rem;
      }
    }

    > .rbc-toolbar-label {
      font-size: 0.8rem;
      padding: 0 0.625rem;
      align-self: flex-end;
    }
  }
  .rbc-month-header,
  .rbc-header {
    height: 1.8rem;
    font-size: 0.8rem;

    > span {
      font-weight: 600;
    }
  }

  .rbc-month-row {
    min-height: 3.6rem;
    max-height: 4.3rem;
  }

  .rbc-row-bg {
    height: auto;
  }

  .rbc-row-content {
    height: 100%;
  }

  .rbc-event {
    border-radius: 0;
    height: auto;

    > .rbc-event-content {
      font-size: 0.67rem;
    }
  }

  .rbc-day-slot .rbc-events-container {
    margin-right: 0;
  }

  .rbc-event-label {
    font-size: 0.46rem;
  }
}

//Small tablet
@media screen and (min-width: 37.5rem) and (max-width: 48rem) {
  .rbc-calendar {
    margin: 0;
    width: 100%;
    min-height: 25.9rem;
    height: auto;

    > .rbc-month-view {
      max-height: 23.7rem;
    }
  }
  .rbc-toolbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    width: 100%;
    height: 5.9rem;
    padding: 0;
    margin-bottom: 0.31rem;

    > .rbc-btn-group {
      width: 100%;
      height: auto;
      padding-top: 0.31rem;

      > button {
        font-size: 0.65rem;
        font-weight: 550;
        text-align: center;
        height: 1.75rem;
        width: 6.25rem;
        padding: 0;
        border: 1px solid #262626;
        margin-bottom: 0;
        border-radius: 0.5rem;
      }
    }

    > .rbc-toolbar-label {
      font-size: 1.1rem;
      padding: 0.31rem;
      text-transform: uppercase;
    }
  }

  .rbc-month-header,
  .rbc-header {
    height: 1.8rem;
    font-size: 0.8rem;

    > span {
      font-weight: 600;
    }
  }

  .rbc-month-row {
    min-height: 3.6rem;
    max-height: 3.75rem;
  }

  .rbc-row-bg {
    height: auto;
  }

  .rbc-row-content {
    height: 100%;
  }

  .rbc-event {
    border-radius: 0;
    height: auto;

    > .rbc-event-content {
      font-size: 0.8rem;
    }
  }
}
//Small mobile
@media screen and (min-width: 20rem) and (max-width: 30rem) {
  .rbc-calendar {
    margin: 0;
    width: 100%;
    min-height: 415px;
    height: auto;
    border-top: 0;
  }

  .rbc-toolbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    width: 100%;
    height: 120px;
    padding: 0;

    > .rbc-btn-group {
      width: 100%;
      max-height: 40px;
      height: 38px;
      padding-top: 5px;

      > button {
        font-size: 0.7rem;
        font-weight: 550;
        text-align: center;
        height: 32px;
        width: 105px;
        border: 1px solid #262626;
        margin-bottom: 0;
        border-radius: 8px;
      }
    }
    > .rbc-toolbar-label {
      font-size: 1.1rem;
      padding: 5px;
      text-transform: uppercase;
    }
  }

  .rbc-month-row {
    min-height: 0;
    max-height: 50px;
    height: auto;
  }

  .rbc-row-bg {
    height: auto;
  }

  .rbc-row-content {
    height: 100%;
  }

  .rbc-event {
    border-radius: 0;
    height: 15px;

    > .rbc-event-content {
      font-size: 0.7rem;
    }
  }

  .rbc-button-link {
    font-size: 0.9rem;
  }

  .rbc-day-bg {
    display: flex;
    max-height: 50px;
    pointer-events: auto; // Ensure it can be tapped
    touch-action: manipulation; // Improve touch handlingF
  }

  .rbc-month-header,
  .rbc-header {
    height: 34px;
    font-size: 0.8rem;

    > span {
      font-weight: 600;
    }
  }

  .rbc-time-gutter {
    width: 45px;
  }

  .rbc-time-slot {
    width: 45px;

    > .rbc-label {
      font-size: 0.8rem;
    }
  }

  .rbc-day-slot .rbc-events-container {
    margin-right: 0;
  }

  .rbc-day-slot .rbc-event {
    border: 1px solid white;
  }

  .rbc-row{
    max-height: 32px;
  }
}
