@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

$main-font: "Montserrat", sans-serif;
$base-font-size: 16px;
$base-font-weight: 500;

$ambidex-green: #11745f;
$base-color: #262626;
